*.bak
build/
*.db
.gradle
!gradle/wrapper/gradle-wrapper.jar
HELP.md
.idea/
*.iml
*.ipr
*.iws
*.log
META-INF/
.mvn/
mvnw*
out/
*.sqlite
!**/src/main/**/build/
!**/src/main/**/out/
!**/src/test/**/build/
!**/src/test/**/out/
.*.swp
target/
.vscode/
